.main {
  max-width: 1200px;
  margin: 0 auto 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 0.125rem #e2e8f0 solid;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.main__options {
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  border-bottom: 0.125rem #e2e8f0 solid;
  padding: 0.75rem;
}

.main__editor {
  border-right: 0.125rem #e2e8f0 solid;
  border-bottom: none;
  grid-column: 1/2;
}

.editor__input {
  width: 100%;
  min-height: 24rem;
  border: none;
  outline: none;
  padding: 0.75rem;
  font-size: 1rem;
  color: #2d3748;
}

.main__preview {
  padding: 1rem;
  grid-column: 2/3;
  min-height: 24rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__preview-placeholder {
  background-color: #edf2f7;
  border-radius: 0.5rem;
  height: 60%;
  width: 80%;
  border: 0.25rem #cbd5e0 dotted;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__preview-title {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #718096;
}

@media only screen and (max-width: 640px) {
  .main__preview {
    grid-column: 1/3;
  }
  .main__editor {
    border-right: none;
    border-bottom: 0.125rem #e2e8f0 solid;
    grid-column: 1/3;
  }
}
