.picker {
  position: relative;
  background: none;
  border: 0.125rem var(--theme-light-gray) solid;
  border-radius: 0.5rem;

  &::-webkit-color-swatch {
    border: none;
    border-radius: 0.5rem;
    padding: 0;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: 0.5rem;
    padding: 0;
  }

  &::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 0.5rem;
    padding: 0;
  }
}
