.picker {
  position: relative;
  background: none;
  border: 0.125rem #e2e8f0 solid;
  border-radius: 0.5rem;
}

.picker::-webkit-color-swatch {
  border: none;
  border-radius: 0.5rem;
  padding: 0;
}

.picker::-moz-color-swatch {
  border: none;
  border-radius: 0.5rem;
  padding: 0;
}

.picker::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 0.5rem;
  padding: 0;
}
