<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graphene</title>

    <script defer type="module" src="main.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="window">
        <div class="titlebar">
          <div class="buttons">
            <div class="close"></div>
            <div class="max"></div>
            <div class="min"></div>
          </div>
          <span class="title">Code - @username</span>
        </div>
        <textarea id="editor"></textarea>
      </div>
    </div>
  </body>
</html>
