.Options {
  display: flex;
  position: relative;
  height: 2.5rem;
  box-sizing: border-box;
  border: 0.125rem var(--theme-light-gray) solid;
  border-radius: 0.5rem;
  flex: 0 0 auto;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-right: 0.125rem var(--theme-light-gray) solid;
    color: var(--theme-dark-color);
  }

  .input-wrapper {
    flex: 1;
    height: 100%;
  }

  .input {
    background-color: var(--theme-light-color);
    color: var(--theme-dark-color);
    padding: 0.25rem 0.5rem;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    text-transform: capitalize;
    cursor: pointer;
    
    &::placeholder {
      color: var(--theme-dark-color);
      text-transform: capitalize;
    }

    &:focus::placeholder {
      opacity: 0.5;
    }
  }

  .arrow {
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.75rem;
    color: var(--theme-dark-color);
    transition: all ease-out 0.2s;
  }

  .input:focus ~ .arrow {
    transform: translateY(-50%) rotateZ(180deg);
  }

  .candidates {
    position: absolute;
    display: block;
    top: 3rem;
    left: 2.375rem;
    right: -0.125rem;
    background-color: var(--theme-white);
    z-index: 2;
    max-height: 12rem;
    overflow-y: auto;
    border: 0.125rem var(--theme-light-gray) solid;
    border-radius: 0.5rem;

    &::-webkit-scrollbar-thumb {
      background-color: var(--theme-light-gray);
    }

    &::-webkit-scrollbar {
      background-color: var(--theme-light-color);
      width: 0.25rem;
    }
  }

  .candidates-item {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    height: 2.5rem;
    background-color: var(--theme-light-color);
    font-family: 'Rubik', sans-serif;
    padding: 0 1rem;
    cursor: pointer;

    &:hover {
      background-color: var(--theme-light-gray);
    }
  }
}
