.docs {
  max-width: 800px;
  margin: 0 auto;
}

.docs__title {
  font-size: 2.25rem;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: #2d3748;
  margin-bottom: 2rem;
  font-weight: 500;
}

.docs__description :global(p) {
  font-size: 1.125rem;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  line-height: 1.75em;
  color: #2d3748;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.docs__description :global(ul) {
  margin-bottom: 1.25rem;
}

.docs__description :global(li) {
  font-size: 1.125rem;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  line-height: 1.75em;
  color: #2d3748;
  font-weight: 400;
  margin-left: 1rem;
  margin-bottom: 0.15rem;
}

.docs__description :global(a) {
  position: relative;
  text-decoration: none;
}

.docs__description :global(a::after) {
  content: '';
  position: absolute;
  top: 0.75rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bee3f8;
  z-index: -1;
  transition: all 0.1s ease-out;
}

.docs__description :global(a:hover::after) {
  top: 0;
}

.docs__description :global(a:visited) {
  color: #2d3748;
}

.docs__example {
  margin: 2rem 0;
}

.docs__example-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

:global(code) {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #e2e8f0;
  font-size: 1rem;
}

:global(pre) {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
  line-height: 2em;
  background-color: #e2e8f0;
  border-radius: 0.25rem;
  overflow-y: scroll;
  padding: 1rem;
}
