.main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 3rem;
  border: 0.125rem #e2e8f0 solid;
  border-radius: 0.5rem;
  background-color: #ffffff;
}

.main__options {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.75rem;
  border-bottom: 0.125rem #e2e8f0 solid;
  padding: 0.75rem;
}

.main__linenr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__linenr-label {
  font-weight: 500;
}

.main__linenr-checkbox {
  cursor: pointer;
}

.main__border,
.main__upscale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.main__upscale-label {
  font-weight: 500;
}

.upscale__item {
  cursor: pointer;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  color: #718096;
}

.upscale__item:hover {
  color: #2d3748 !important;
}

.main__border-label {
  font-weight: 500;
  white-space: nowrap;
}

.main__border-input {
  width: 3rem;
  padding: 0.25rem 0.5rem;
  border: 0.125rem #e2e8f0 solid;
  border-radius: 0.5rem;
  outline: none;
  color: #2d3748;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.main__border-input::-webkit-inner-spin-button,
.main__border-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main__panes {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main__editor {
  position: relative;
  border-right: 0.125rem #e2e8f0 solid;
  border-bottom: none;
}

.editor__input {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-width: 400px;
  min-height: 24rem;
  border: none;
  outline: none;
  padding: 0.75rem;
  font-size: 1rem;
  color: #2d3748;
  overflow-x: auto;
}

.main__button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: linear-gradient(to right, #bb38fe -20%, #53baff 120%);
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main__button:hover {
  filter: brightness(0.95);
}

.editor__input::-webkit-scrollbar-thumb {
  background-color: #e2e8f0;
}

.editor__input::-webkit-scrollbar {
  background-color: #ffffff;
  width: 0.5rem;
}

.main__preview {
  padding: 4rem;
  grid-column: 2/3;
  min-height: 24rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__preview-img {
  object-fit: contain;
  max-width: 100%;
}

.main__preview-placeholder {
  background-color: #edf2f7;
  border-radius: 0.5rem;
  border: 0.25rem #cbd5e0 dotted;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__preview-title {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #718096;
}

@media only screen and (max-width: 800px) {
  .main__panes {
    flex-direction: column;
  }

  .main__editor {
    position: relative;
    border-bottom: 0.125rem #e2e8f0 solid;
    border-right: none;
  }

  .editor__input {
    max-width: 100%;
    min-width: 100%;
  }

  .main__preview {
    width: 100%;
  }

  .main__button {
    right: auto;
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translateY(50%) translateX(-50%);
  }
}
