.header {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;
}

.header__title {
  font-weight: 700;
  font-size: clamp(3.5rem, calc(5vw + 2rem), 6rem);
  background: linear-gradient(to right, #bb38fe 25%, #53baff 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.header__subtitle {
  display: block;
  color: #2d3748;
  font-weight: 500;
  font-size: clamp(1rem, calc(4vw, 1rem), 2rem);
  margin-bottom: 1.5rem;
}

.header__button {
  border: none;
  outline: none;
  background-color: #2d3748;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-size: clamp(0.75rem, calc(4vw, 1rem), 1.5rem);
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.header__button:visited {
  color: #ffffff;
}

.header__button:hover {
  filter: brightness(0.95);
}
