name: Deploy

on:
  push:
    branches: ["master"]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    container: node:18.6.0-alpine3.16
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.2
        id: pnpm-install
        with:
          version: 7
          run_install: false
      
      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Lint check
        run: pnpm run -r lint

      - name: Format with prettier
        run: pnpm run -r fmt:check

      - name: Test
        run: pnpm --filter "{packages/backend}" test
        env:
          NODE_ENV: test

      - name: Collect coverage
        run: pnpm --filter "{packages/backend}" test:coverage
        env:
          NODE_ENV: test

      - name: Send coverage report to Codecov
        uses: codecov/codecov-action@v2

      - name: Build frontend
        run: pnpm --filter "{packages/frontend}" build
        env:
          NODE_ENV: production


  cd:
    name: CD
    needs: ci
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: superfly/flyctl-actions@master
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
        with:
          args: "deploy"

      - name: Create Sentry release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          environment: production
          set_commits: skip
          version: ${{ github.sha }}
