name: CI

on:
  pull_request:
    branches: ['*']

jobs:
  ci:
    name: Check
    runs-on: ubuntu-latest
    container: node:16-buster
    steps:
      - name: Setup Chrome
        run: >
          apt-get update
          && apt-get install -y wget gnupg ca-certificates procps libxss1
          && wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
          && sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
          && apt-get update
          && apt-get install -y google-chrome-stable
          && rm -rf /var/lib/apt/lists/*
          && wget --quiet https://raw.githubusercontent.com/vishnubob/wait-for-it/master/wait-for-it.sh -O /usr/sbin/wait-for-it.sh
          && chmod +x /usr/sbin/wait-for-it.sh

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Installling dependencies
        run: npm install

      - name: ESLint check
        run: npx eslint --ignore-path .gitignore .

      - name: Prettier check
        run: npx prettier --check --ignore-path .gitignore .

      - name: Test
        run: npm run test
        env:
          EXEC_PATH: google-chrome-stable

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: javascript

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1
